* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --red-color: #fe0102;
    --blu-color: #0af0f1;
}

.blu-color {
    color: var(--blu-color);
}

.red-color {
    color: var(--red-color);
}

#text {
    height: 90%;
}

.hello {
    display: flex;
    align-items: center;
    height: 100%;
}

#blure {
    backdrop-filter: blur(5px);
}

.card-img-top {
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.card {
    padding: 1.5em .5em .5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
}

#flesh::after {
    position: absolute;
    content: ' ➝';
}


.h-80 {
    height: 510px;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider_container .container{
    padding: 0 15px;
    min-width: 1230px;
    margin: 0 auto; 
  }

  .swiper-wrapper{
    padding: 50px 0;
  }

  .slider_container{
    overflow: hidden;
  }


  .text-translate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .icon-true::before {
    position: absolute;
    content: '✓';
    left: 10%;
    background-color: #0af0f1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


#img-flow{

    overflow: hidden;
}
#img-flow img{
    width: 100%;
    height: 100%;
}

.icon-contact{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--blu-color);
  cursor: pointer;
  transition: all .5s;
}

.icon-contact:hover{
  background-color: #0af0f1;
  border-radius: 50%;
}

.company{
  text-align: left;
}